@import './nullify.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;600;700&display=swap');

/* Values identical for each section:
* -Font-sizes,
* -Around padding,
* -Bottom padding of title + title font-size,
* -Space between blocks
** Two blue cards have fixed layouts, the above one is responsive,
*/

$mobile-width: 320px;
$mobile-big-width: 375px;
$tablet-width: 450px;
$laptop-width: 1024px;

@mixin title {
  margin-bottom: 1.3rem;

        
  font-size: 1.1rem;
  font-weight: 500;
}

@mixin section-flex {
  flex: 1 1 33%;
}


$padding-frame: 1.55rem;



body {
  background-color:  hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
}

.container {
  height: 100%;


  @media (min-width: $mobile-big-width) {
    height: auto;
    padding: 1rem;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  max-width: 375px;


  overflow: hidden;
  box-shadow: .5px .5px 2rem 1.5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;

  @media (min-width: $mobile-big-width) {
    height: auto;
    margin: 1rem auto;
  }

  @media (min-width: $laptop-width) {
    max-width: 620px;
    margin: 3rem auto;

    flex-flow: row wrap;
  }

  .card-description {
    @include section-flex;
    
    padding: $padding-frame;
    

    background-color: rgb(255, 255, 255);

    @media (min-width: $mobile-big-width) {
      max-height: 252.58px;
    }

    @media (min-width: $laptop-width) {
      flex-basis: 100%;
    }
    
    .card-description-body {
      text-align: left;
      line-height: 1.35rem;

      &__title {
        margin-bottom: 1.45rem;


        color: rgb(103,170,172);
        font-size: 1.3rem;
        font-weight: 700;
      }

      &__beacon-text {
        @include title;

        
        color: rgb(218,238,125);
      }
      
      &__explanatory-text {
        color: hsl(218, 22%, 67%);
        line-height: 1.55rem;
      }
    }
  }

  .card-subscription {
    @include section-flex;
    
    padding: $padding-frame;


    background-color: hsl(179, 62%, 43%);

    @media (min-width: $mobile-big-width) {
      max-height: 252.58px;
    }

    @media (min-width: $laptop-width) { 
      flex-basis: 50%;
    }

    .card-subscription-body {
      color: white;
      text-align: left;

      &__title {
        @include title;
      }

      &__price {
        display: inline-block;


        font-weight: 600;
        font-size: 1.8rem;
        
      }
      &__term {
        display: inline-block;
        margin-left: .5rem;


        vertical-align: 35%;
        opacity: .5;
      }
      &__profit-summary {
        margin-top: .65rem;


        color: rgb(206,255,255);
      }
      
      &__signup-btn {
        display: block;
        padding: 1rem;
        margin-top: 1.91rem;


        background-color: hsl(71, 73%, 54%);
        color: inherit;
        font-weight: 600;
        text-align: center;

        box-shadow: .5px .5px 2rem 1px rgba(0, 0, 0, 0.3);
        border-radius: 7px;

        &:hover, &:focus {
          box-shadow: .5px .5px 2.5rem 2px rgba(13, 25, 199, 0.3);
        }
        &:active {
          outline: .5px solid rgb(206,255,255);
        }
      }
    }
  }

  .card-benefits {
    @include section-flex;
    
    padding: $padding-frame;


    background-color: rgb(74,190,189);

    @media (min-width: $mobile-big-width) {
      max-height: 252.58px;
    }

    @media (min-width: $laptop-width) {
      flex-basis: 50%;
    }

    .card-benefits-body {
      color: white;
      text-align: left;

      &__title {
        @include title;
      }

      &__benefits-list {
        color: rgb(206,255,255);
        line-height: 1.2rem;
      }
    }
  }
}








